@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

/* shared style */
.text-primary {
    color: rgb(253, 110, 10);
}

.text-dark {
    color: rgb(71, 71, 71);
}

.btn-primary {
    padding: 18px 36px;
    background-color: rgb(253, 110, 10);
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
}

.bg-secondary {
    background: rgb(255, 248, 243);
}

.text-center {
    text-align: center;
}

main {
    width: 1140px;
    margin: 0 auto;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 20px;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
}


.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 20px 0px;
}

/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
    margin-top: 160px;
}

.banner-content {
    max-width: 585px;
}

.banner-heading {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.banner-des {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-download {
    margin-right: 40px;
}

.btn-contact {
    padding: 18px 36px;
    color: rgb(253, 110, 10);
    /* background-color: white; */
    border: 1px solid rgb(253, 110, 10);
    border-radius: 5px;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
}

.banner-img {
    width: 585px;
}

/* about style */
.about {
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 130px 156px;
    text-align: center;
    margin: 130px 0;
}

.about-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-items {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.item-des {
    font-size: 20px;
    font-weight: 700;
}

/* skills styles */
.skills {
    margin-bottom: 130px;
}

.skill {
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
}

.skills-des {
    margin-bottom: 50px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill-title {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 700;
}

.skill-des {
    line-height: 28px;
}

/* resume styles */
.resume {
    margin-bottom: 113px;
}

.resume-top-title {
    margin-bottom: 100px;
}

.resume-container {
    display: flex;
    gap: 24px;
}

.resume-main-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume-title {
    font-size: 25px;
    font-weight: 700;
}

.resume-education {
    margin: 10px 0px 20px 0px;
    font-size: 20px;
}

.resume-column hr {
    margin: 30px 0;
}

/* footer styles */
footer {
    padding: 130px 230px;
    display: flex;
    gap: 115px;
}

.footer-column {
    width: 50%;
}

.footer-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-des {
    margin-bottom: 28px;
}

.footer-icon {
    margin: 0 20px;
}

footer input[type='text'],
footer input[type='email'],
footer textarea {
    width: 100%;
    /* height: 64px; */
    margin-bottom: 20px;
    padding: 18px 30px;
    border: 0;
}

